<app-navbar></app-navbar>
<div class="card crud-card">
    <header class="crud-header-card ">
        <h1 class="crud-title">
            Cadastro Reembolso ContaAzul
        </h1>

    </header>
    <div class="card-content">
        <div class="crud-content">
            <form class="example-class" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <div class="field">
                    <label class="label is-small ">Nome</label>
                    <div class="control ">
                        <input formControlName="nome" class="input is-hoverable is-info is-shadowless crud-input" type="text" placeholder="Nome " required autofocus>
                    </div>
                </div>

                <div class="field ">
                    <label class="label is-small ">Email</label>
                    <div class="control ">
                        <input type="email" formControlName="email" class="input is-hoverable is-info is-shadowless crud-input " placeholder="email@email.com " required>
                    </div>
                </div>

                <div class="field ">
                    <label class="label is-small ">Senha</label>
                    <div class="control ">
                        <input type="password" formControlName="senha" class="input is-hoverable is-info is-shadowless crud-input " placeholder="************** " required>
                    </div>
                </div>

                <div class="field ">
                    <label class="label is-small ">Confirmar Senha</label>
                    <div class="control ">
                        <input type="password" class="input is-hoverable is-info is-shadowless crud-input " placeholder="************** " value="">
                    </div>
                </div>

                <div class="field ">
                    <div class="control ">
                        <label class=" block">
              <input type="radio" (change)="isAdmin=true" class="is-checkradio" name="userRole" id="admin"> Criar nova empresa (Admin)
            </label>

                        <label class="block ">
              <input type="radio" (change)="isAdmin=false" class="is-checkradio" name="userRole" id="user"> Inserir Código existente
            </label>
                    </div>
                </div>


                <div class="field ">
                    <div *ngIf="isAdmin">
                        <label class="label is-small">Nome da Empresa</label>
                        <div class="control ">
                            <input class="input is-hoverable is-info is-shadowless crud-input" formControlName="empresa" type="text" placeholder="Nome da Empresa " required>
                        </div>
                    </div>
                    <div *ngIf="!isAdmin" class="label is-small">
                        <label>Insira o Código da Empresa</label>
                        <div class="control">
                            <input class="input is-hoverable is-info is-shadowless crud-input" formControlName="empresa" type="number" placeholder="Insira o Código da Empresa" required>
                        </div>
                    </div>
                </div>

                <div class="control ">
                    <input type="submit" class="button is-info is-focused is-size-12" value="Cadastrar">
                </div>
            </form>

        </div>
    </div>

</div>