<div class="card login-card">
    <header class="card-header login-header-card">
        <p class="card-header-title is-centered login-title">
            Redefinir Senha
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <label>
							Insira seu email cadastrado para recuperar sua senha.
						</label>
            <form class="example-class" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <div class="field">
                    <label class="label is-small has-text-grey-dark has-text-weight-light">Email</label>
                    <div class="control">
                        <input class="input is-shadowless app-input is-info" name="email" formControlName="email" type="email" placeholder="exemplo@gmail.com" value="" autofocus required>
                    </div>
                    <div class="is-danger" *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors.required">Email é
                            <strong>obrigatório</strong>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control ">
                        <button [disabled]="form.invalid || form.pending" type="submit " class="button is-info is-focused crud-btn ">Redefinir Senha</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>